<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <title>RL | CS 5610</title>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <!-- Adobe TypeKit fonts -->
  <script src="https://use.typekit.net/iza1jgq.js"></script>
  <script>try {
    Typekit.load({async: true});
  } catch (e) {
  }</script>
  <!-- Local installation of Bootstrap -->
  <link rel="stylesheet"
        href="../../css/bootstrap.min.css">
  <!-- Locally defined CSS -->
  <link rel="stylesheet"
        href="../css/style.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand pull-left glyphicon glyphicon-menu-left"
         href="website-list.view.client.html">
      </a>
      <a class="navbar-brand"
         href="#">New Website</a>
      <a class="navbar-brand pull-right glyphicon glyphicon-ok">
        <a href="website-list.view.client.html"
           class="navbar-link">
        </a>
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <h1 class="page-header">New Website</h1>
  <form class="form-group">
    <label for="website-name">Name</label>
    <input type="text"
           class="form-control"
           id="website-name"
           placeholder="Site name">
    <label for="website-description">Description</label>
    <textarea class="form-control"
              id="website-description"
              rows="3"
              placeholder="Site description"></textarea>
  </form>
  <a class="btn btn-danger btn-block">Delete</a>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <a class="navbar-brand pull-right glyphicon glyphicon-user"
         href="../user/profile.view.client.html">
      </a>
    </div>
  </nav>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>