<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">

  <!-- Header -->
  <div class="navbar-header">
    <a class="navbar-brand pull-left glyphicon glyphicon-menu-left"
       ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
    </a>

    <!-- Navbar brand -->
    <div class="navbar-brand">Choose Widget</div>

  </div>
</nav>

<div class="container-fluid">

  <!-- Title -->
  <h1 class="page-header">Widgets</h1>

  <!-- List of options -->
  <ul class="list-group">
    <li class="list-group-item"
        ng-repeat="widgetType in model.widgetTypes">
      <a ng-click="model.createWidget(widgetType)">{{widgetType}}</a></li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <a class="pull-right navbar-brand glyphicon glyphicon-user"
     ng-href="#/user/{{model.userId}}">
  </a>
</nav>