<nav class="navbar navbar-default navbar-fixed-top">

  <div class="navbar-header">
    <div class="navbar-brand pull-left glyphicon glyphicon-menu-left"
         href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">
    </div>

    <div class="navbar-brand">Edit Image</div>

  </div>
</nav>

<div class="container-fluid">

  <h1 class="page-header">Edit Image</h1>

  <div class="form-group">

    <label for="widgetName">Name</label>
    <input ng-model="model.widget.name"
           type="text"
           class="form-control"
           id="widgetName"
           placeholder="Image name">

    <label for="widgetText">Text</label>
    <input ng-model="model.widget.text"
           type="text"
           class="form-control"
           id="widgetText"
           placeHolder="Describe your image here.">

    <label for="widgetSize">URL</label>
    <input ng-model="model.widget.url"
           type="text"
           class="form-control"
           id="widgetSize"
           placeHolder="e.g. ***.jpg">

    <label for="imageWidth">Width</label>
    <input ng-model="model.widget.width"
           type="text"
           class="form-control"
           id="imageWidth"
           placeholder="e.g. 100%">

    <label for="exampleInputFile">File input</label>
    <input ng-model="model.widget.input"
           type="file"
           class="form-control-file"
           id="exampleInputFile"
           aria-describedby="fileHelp">

    <small id="fileHelp"
           class="form-text text-muted">This is some placeholder block-level help text
      for the above input. It's a bit lighter and easily wraps to a new line.
    </small>

  </div>

  <button type="button"
          class="btn btn-block btn-primary">Upload Image
  </button>
  <button ng-click="model.updateWidget(model.widget)"
          type="button"
          class="btn btn-block ">Update
  </button>

  <button ng-click="model.deleteWidget(model.widget)"
          type="button"
          class="btn btn-block btn-danger">Delete
  </button>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="pull-right navbar-brand glyphicon glyphicon-user"
       href="#/user/{{model.userId}}">
  </div>
</nav>