
<!-- Navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand pull-left">
        <a href="#/user/{{model.userId}}/website/page">
          <div class="glyphicon glyphicon-menu-left"></div>
          <div class="navbar-brand">New Page</div>
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <h1 class="page-header">New Page</h1>
  <form class="form-group">
    <label for="websiteName">Name</label>
    <input ng-model="model.page.name"
           type="text"
           class="form-control"
           id="websiteName"
           placeholder="Name of your website">
    <label for="websiteDescription">Description</label>
    <textarea ng-model="model.page.description"
              class="form-control"
              id="websiteDescription"
              rows="3"
              placeholder="Description of your website"></textarea>
  </form>
</div>
<a ng-click="model.createPage(model.page)" class="btn btn-primary btn-block">
  Create
</a>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="pull-right navbar-brand">
      <a class="glyphicon glyphicon-user"
         href="../../user/templates/profile.view.client.html">
      </a>
    </div>
  </div>
</nav>
`